<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">

    <ul>

      <li><a class="navbar-link" href="<%= me_user_path %>"/>Back</a></li>
      <li><a class="navbar-link" href="<%= root_path %>"/>Home</a></li>
      <li><a class="navbar-link" href="<%= signout_path %>"/>Logout</a></li>
    </ul>

   </div>
  </div>
</div>
