<h1>Assignments Listing</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>Teacher</strong></td>
      <td><strong>Subject</strong></td>
      <td><strong>Type</strong></td>
      <td><strong>Notes</strong></td>
    </tr>
    <% @works.each do |work| %>
      <tr>
        <% if current_user.admin %>
          <td><%= link_to "Show #{work.name}", attraction_path(attraction) %></td>
        <% else %>
          <td><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></td>
        <% end %>
      </tr>
  </tbody>
</table>
<br>
