
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">


    <ul>
      <li><a class="navbar-link" href="<%= root_path %>"/>Home</a></li>
      <li><a class="navbar-link" href="<%= new_user_path %>"/>Sign Up</a></li>
      <li><a class="navbar-link" href="<%= login_path %>"/>Login</a></li>
      <li><a class="navbar-link" href="<%= signout_path %>"/>Logout</a></li>
    </ul>


   </div>
   <div class="navbar-collapse collapse">
     <ul class="nav navbar-nav">
     </ul>
   </div><!--/.nav-collapse -->
 </div>
</div>

<!-- <div id='orig-number'>0</div>
  <button type="submit" id="submit">increment</button> -->


<img style="width: 700px"
     src="http://4.bp.blogspot.com/-rgxWuymwelU/VBR3b229MQI/AAAAAAAAIbE/4soFAtrT5mc/s1600/gradebook.png">

<h1 align="left">Welcome to the School Grades App!</h1>
