<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" >Home</a>
      <a class="navbar-brand" href="/users/new">Sign Up</a>
      <a class="navbar-brand" href="/signin">Log In</a>
      <a class="navbar-brand" href="/logout">Log Out</a>
   </div>
   <div class="navbar-collapse collapse">
     <ul class="nav navbar-nav">
     </ul>
   </div><!--/.nav-collapse -->
 </div>
</div>


<img style="width: 1100px"
     src="https://www.wikihow.com/images/thumb/f/f4/Get-Good-Grades-in-Middle-School-Step-2-Version-2.jpg/aid582457-v4-728px-Get-Good-Grades-in-Middle-School-Step-2-Version-2.jpg">
<h1 align="center">Welcome to the School Grades App!</h1>
